
body { font-family: Arial; background:#111; color:#fff; padding:20px;}
.product{border:1px solid #444; padding:10px; margin-bottom:10px;}
button{padding:8px; background:#25d366; border:none; color:#000;}
